# 1. Importing required libraries

In [2]:
#Importing Libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

# 2. Loading the data and finding out basic information

In [3]:
# reading data
sales = pd.read_excel("Sales_project (1).xlsx")
customers=pd.read_excel('Sales_project (1).xlsx', 'Customers Sheet')
sites = pd.read_excel('Sales_project (1).xlsx', 'Site Location sheet')
products=pd.read_excel('Sales_project (1).xlsx', 'Products_Sheet')
sales_team= pd.read_excel('Sales_project (1).xlsx','Sales Team Sheet')

In [4]:
# print first values to unserstand the sales  data
sales.head ()

,OrderNumber,OrderDate,CurrencyCode,_SalesAM_ID,_CustomerID,_SiteID,_ProductID,Order Quantity,Discount Applied,Unit Price,Unit Cost
0,SO - 000101,2018-05-31,RWF,6,15,259,12,5,0.075,1963.1,1001.181
1,SO - 000102,2018-05-31,RWF,14,20,196,27,3,0.075,3939.6,3348.660
2,SO - 000103,2018-05-31,RWF,21,16,213,16,1,0.050,1775.5,781.220
3,SO - 000104,2018-05-31,RWF,28,48,107,23,8,0.075,2324.9,1464.687
4,SO - 000105,2018-05-31,RWF,22,49,111,26,8,0.100,1822.4,1476.144

In [5]:
# print first values to unserstand the customers data
customers.head()

   _CustomerID Customer Names
0            1      Avon Corp
1            2      WakeFern
2            3   Elorac, Corp
3            4      ETUDE Ltd
4            5   Procter Corp

In [6]:
# print first values to unserstand the sites data
sites.head()

   _SiteID SIte Name District
0      1.0         A   Gasabo
1      2.0         B   Gasabo
2      3.0         C  Rutsiro
3      4.0         D     HUYE
4      5.0         E  Gakenke

In [7]:
# print first values to unserstand the products data
products.head()

,_ProductID,Product Name,Item/Service Description,Bandwidth
0,I0016,4G LTE connectivity,4G GO SMART 1GB/DAY,0
1,I0017,4G LTE connectivity,4G MUP 1GB/DAY GOV,0
2,I0018,4G LTE connectivity,4G GO PLATINUM 4GB/DAY,0
3,I0020,4G LTE connectivity,4G UNLIMITED 100GB,0
4,I0021,4G LTE connectivity,4G ONE NETWORK 3MBPS + INSTALLATION,0

In [8]:
# print first values to unserstand the sales team data
sales_team.head()

   _SalesAM_ID          AM Name
0            1   Adam Hernandez
1            2    Keith Griffin
2            3      Jerry Green
3            4  Chris Armstrong
4            5    Stephen Payne

In [9]:
# splliting order date column into separate year, monthh and day columns

In [10]:
year = []
month = []
day = []
for date in sales['OrderDate']:
    temp = str(date).split(" ")[0].split("-")
    year.append(temp[0])
    month.append(temp[1])
    day.append(temp[2])

sales['Year'] = year
sales['Month'] = month
sales['Day'] = day
sales.head()

,OrderNumber,OrderDate,CurrencyCode,_SalesAM_ID,_CustomerID,_SiteID,_ProductID,Order Quantity,Discount Applied,Unit Price,Unit Cost,Year,Month,Day
0,SO - 000101,2018-05-31,RWF,6,15,259,12,5,0.075,1963.1,1001.181,2018,05,31
1,SO - 000102,2018-05-31,RWF,14,20,196,27,3,0.075,3939.6,3348.660,2018,05,31
2,SO - 000103,2018-05-31,RWF,21,16,213,16,1,0.050,1775.5,781.220,2018,05,31
3,SO - 000104,2018-05-31,RWF,28,48,107,23,8,0.075,2324.9,1464.687,2018,05,31
4,SO - 000105,2018-05-31,RWF,22,49,111,26,8,0.100,1822.4,1476.144,2018,05,31

In [11]:
#Merge the sales and customers and site # they much common columns
data_merged = sales.join(customers.set_index('_CustomerID'), on='_CustomerID').join(sites.set_index('_SiteID'), on='_SiteID').join(products, on='_ProductID', how='left', lsuffix='_left', rsuffix='_right')

In [12]:
# print the first atrributes to understand them
data_merged.head()

,OrderNumber,OrderDate,CurrencyCode,_SalesAM_ID,_CustomerID,_SiteID,_ProductID_left,Order Quantity,Discount Applied,Unit Price,...,Year,Month,Day,Customer Names,SIte Name,District,_ProductID_right,Product Name,Item/Service Description,Bandwidth
0,SO - 000101,2018-05-31,RWF,6,15,259,12,5,0.075,1963.1,...,2018,05,31,Rochester Ltd,Y,Kicukiro,I0090,Fiber Broadband Internet,FIBER INTERNET 1MBPS,1
1,SO - 000102,2018-05-31,RWF,14,20,196,27,3,0.075,3939.6,...,2018,05,31,Pacific Ltd,N,Rwamagana,I0239,Video Conferencing Service,VIDEO CONFERENCE,0
2,SO - 000103,2018-05-31,RWF,21,16,213,16,1,0.050,1775.5,...,2018,05,31,"3LAB, Ltd",E,Gakenke,I0094,Fiber Broadband Internet,FIBER INTERNET 10MBPS,10
3,SO - 000104,2018-05-31,RWF,28,48,107,23,8,0.075,2324.9,...,2018,05,31,"Fenwal, Corp",C,Gasabo,I0167,MSS,MSS GOLD,0
4,SO - 000105,2018-05-31,RWF,22,49,111,26,8,0.100,1822.4,...,2018,05,31,Bare,G,Gasabo,I0230,VOIP,VOIP PHONES 21-40,0

In [13]:
# verify data quality
data_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7991 entries, 0 to 7990
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   OrderNumber               7991 non-null   object
 1   OrderDate                 7991 non-null   datetime64[ns]
 2   CurrencyCode              7991 non-null   object
 3   _SalesAM_ID               7991 non-null   int64
 4   _CustomerID               7991 non-null   int64
 5   _SiteID                   7991 non-null   int64
 6   _ProductID_left           7991 non-null   int64
 7   Order Quantity            7991 non-null   int64
 8   Discount Applied          7991 non-null   float64
 9   Unit Price                7991 non-null   float64
 10  Unit Cost                 7991 non-null   float64
 11  Year                      7991 non-null   object
 12  Month                     7991 non-null   object
 13  Day                       7991 non-null   object
 14  Customer Names            7991 non-null   object
 15  SIte Name                 7991 non-null   object
 16  District                  7991 non-null   object
 17  _ProductID_right          7839 non-null   object
 18  Product Name              7839 non-null   object
 19  Item/Service Description  7839 non-null   object
 20  Bandwidth                 7839 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(5), object(12)
memory usage: 1.3+ MB

In [14]:
#The describe() function in pandas is very handy in getting various summary statistics. 
data_merged.describe

<bound method NDFrame.describe of        OrderNumber  OrderDate CurrencyCode  _SalesAM_ID  _CustomerID  _SiteID  \
0      SO - 000101 2018-05-31          RWF            6           15      259
1      SO - 000102 2018-05-31          RWF           14           20      196
2      SO - 000103 2018-05-31          RWF           21           16      213
3      SO - 000104 2018-05-31          RWF           28           48      107
4      SO - 000105 2018-05-31          RWF           22           49      111
...            ...        ...          ...          ...          ...      ...
7986  SO - 0008087 2020-12-30          RWF            9           41      339
7987  SO - 0008088 2020-12-30          RWF           14           29      202
7988  SO - 0008089 2020-12-30          RWF           14           32      241
7989  SO - 0008090 2020-12-30          RWF           20           42      112
7990  SO - 0008091 2020-12-30          RWF            6           41      237

      _ProductID_left  Order Quantity  Discount Applied  Unit Price  ...  \
0                  12               5             0.075      1963.1  ...
1                  27               3             0.075      3939.6  ...
2                  16               1             0.050      1775.5  ...
3                  23               8             0.075      2324.9  ...
4                  26               8             0.100      1822.4  ...
...               ...             ...               ...         ...  ...
7986               29               1             0.075       234.5  ...
7987                3               6             0.050      3202.6  ...
7988               35               5             0.200      3825.7  ...
7989               36               8             0.100      1072.0  ...
7990               43               5             0.075      2211.0  ...

      Year Month Day Customer Names SIte Name   District _ProductID_right  \
0     2018    05  31  Rochester Ltd         Y   Kicukiro            I0090
1     2018    05  31    Pacific Ltd         N  Rwamagana            I0239
2     2018    05  31      3LAB, Ltd         E    Gakenke            I0094
3     2018    05  31   Fenwal, Corp         C     Gasabo            I0167
4     2018    05  31          Bare          G     Gasabo            I0230
...    ...   ...  ..            ...       ...        ...              ...
7986  2020    12  30    Weimei Corp         A    Muhanga            I0250
7987  2020    12  30  Apotheca, Ltd         T   Gisagara            I0020
7988  2020    12  30    OHTA'S Corp         G    Gicumbi            I0493
7989  2020    12  30    Llorens Ltd         H   Kicukiro            I0303
7990  2020    12  30    Weimei Corp         C     Gasabo            I0492

                    Product Name Item/Service Description Bandwidth
0       Fiber Broadband Internet     FIBER INTERNET 1MBPS         1
1     Video Conferencing Service         VIDEO CONFERENCE         0
2       Fiber Broadband Internet    FIBER INTERNET 10MBPS        10
3                            MSS                 MSS GOLD         0
4                           VOIP        VOIP PHONES 21-40         0
...                          ...                      ...       ...
7986     Fixed Wireless Internet     Wireless Broadband 5         5
7987         4G LTE connectivity       4G UNLIMITED 100GB         0
7988                  COLOCATION            CROSS CONNECT         0
7989    Fixed Wireless Internet               Tower Lease         0
7990    Fiber Broadband Internet       INTERNET BANDWIDTH         -

[7991 rows x 21 columns]>

# 3. Cleaning/ adding relevant and Dropping irrelevant columns and entries

In [15]:
# adding new variable
data_merged['total_sales']= data_merged['Unit Cost'] * data_merged['Unit Price']

In [16]:
# adding new varibale
data_merged['total_sales'] = data_merged['_SalesAM_ID']/data_merged['_CustomerID']
data_merged['total_sales'].describe()

count    7991.000000
mean        1.294771
std         2.671130
min         0.020000
25%         0.294118
50%         0.562500
75%         1.100000
max        28.000000
Name: total_sales, dtype: float64

In [17]:
# checking for null values
data_merged.isnull().sum()

OrderNumber                   0
OrderDate                     0
CurrencyCode                  0
_SalesAM_ID                   0
_CustomerID                   0
_SiteID                       0
_ProductID_left               0
Order Quantity                0
Discount Applied              0
Unit Price                    0
Unit Cost                     0
Year                          0
Month                         0
Day                           0
Customer Names                0
SIte Name                     0
District                      0
_ProductID_right            152
Product Name                152
Item/Service Description    152
Bandwidth                   152
total_sales                   0
dtype: int64

In [19]:
# cleaning data 
#fill missing values by average of a column
data_merged = data_merged.apply(lambda x:x.fillna(x.value_counts().index[0]))

In [20]:
#Sometimes there would be many columns that we never use in such cases dropping is the only solution.
data_merged.drop(['OrderDate', 'CurrencyCode'], axis=1, inplace=True)

In [21]:
data_merged

,OrderNumber,_SalesAM_ID,_CustomerID,_SiteID,_ProductID_left,Order Quantity,Discount Applied,Unit Price,Unit Cost,Year,Month,Day,Customer Names,SIte Name,District,_ProductID_right,Product Name,Item/Service Description,Bandwidth,total_sales
0,SO - 000101,6,15,259,12,5,0.075,1963.1,1001.181,2018,05,31,Rochester Ltd,Y,Kicukiro,I0090,Fiber Broadband Internet,FIBER INTERNET 1MBPS,1,0.400000
1,SO - 000102,14,20,196,27,3,0.075,3939.6,3348.660,2018,05,31,Pacific Ltd,N,Rwamagana,I0239,Video Conferencing Service,VIDEO CONFERENCE,0,0.700000
2,SO - 000103,21,16,213,16,1,0.050,1775.5,781.220,2018,05,31,"3LAB, Ltd",E,Gakenke,I0094,Fiber Broadband Internet,FIBER INTERNET 10MBPS,10,1.312500
3,SO - 000104,28,48,107,23,8,0.075,2324.9,1464.687,2018,05,31,"Fenwal, Corp",C,Gasabo,I0167,MSS,MSS GOLD,0,0.583333
4,SO - 000105,22,49,111,26,8,0.100,1822.4,1476.144,2018,05,31,Bare,G,Gasabo,I0230,VOIP,VOIP PHONES 21-40,0,0.448980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,SO - 0008087,9,41,339,29,1,0.075,234.5,121.940,2020,12,30,Weimei Corp,A,Muhanga,I0250,Fixed Wireless Internet,Wireless Broadband 5,5,0.219512
7987,SO - 0008088,14,29,202,3,6,0.050,3202.6,1921.560,2020,12,30,"Apotheca, Ltd",T,Gisagara,I0020,4G LTE connectivity,4G UNLIMITED 100GB,0,0.482759
7988,SO - 0008089,14,32,241,35,5,0.200,3825.7,2792.761,2020,12,30,OHTA'S Corp,G,Gicumbi,I0493,COLOCATION,CROSS CONNECT,0,0.437500
7989,SO - 0008090,20,42,112,36,8,0.100,1072.0,804.000,2020,12,30,Llorens Ltd,H,Kicukiro,I0303,Fixed Wireless Internet,Tower Lease,0,0.476190
7990,SO - 0008091,6,41,237,43,5,0.075,2211.0,1370.820,2020,12,30,Weimei Corp,C,Gasabo,I0492,Fiber Broadband Internet,INTERNET BANDWIDTH,-,0.146341

In [22]:
data_merged.isnull().sum()

OrderNumber                 0
_SalesAM_ID                 0
_CustomerID                 0
_SiteID                     0
_ProductID_left             0
Order Quantity              0
Discount Applied            0
Unit Price                  0
Unit Cost                   0
Year                        0
Month                       0
Day                         0
Customer Names              0
SIte Name                   0
District                    0
_ProductID_right            0
Product Name                0
Item/Service Description    0
Bandwidth                   0
total_sales                 0
dtype: int64

# Data manipulation

In [23]:
data_merged.groupby('_ProductID_left')['Order Quantity'].describe()

                 count      mean       std  min   25%  50%   75%  max
_ProductID_left
1                162.0  4.203704  2.434582  1.0  2.00  4.0  7.00  8.0
2                173.0  4.734104  2.269321  1.0  3.00  5.0  7.00  8.0
3                172.0  4.441860  2.201035  1.0  3.00  4.5  6.00  8.0
4                200.0  4.390000  2.407672  1.0  2.00  4.0  7.00  8.0
5                173.0  4.687861  2.453219  1.0  3.00  5.0  7.00  8.0
6                154.0  4.305195  2.479532  1.0  2.00  4.0  7.00  8.0
7                166.0  4.427711  2.397767  1.0  2.00  4.5  7.00  8.0
8                195.0  4.507692  2.351506  1.0  2.00  5.0  7.00  8.0
9                170.0  4.541176  2.098480  1.0  3.00  5.0  6.00  8.0
10               168.0  4.494048  2.359836  1.0  2.00  4.5  7.00  8.0
11               182.0  4.472527  2.321367  1.0  3.00  4.0  7.00  8.0
12               181.0  4.569061  2.266160  1.0  3.00  5.0  6.00  8.0
13               175.0  4.440000  2.245199  1.0  2.50  4.0  6.00  8.0
14               163.0  4.699387  2.365219  1.0  3.00  5.0  7.00  8.0
15               157.0  4.191083  2.309772  1.0  2.00  4.0  6.00  8.0
16               177.0  4.598870  2.272013  1.0  3.00  4.0  6.00  8.0
17               178.0  4.533708  2.324395  1.0  3.00  5.0  7.00  8.0
18               156.0  4.128205  2.419592  1.0  2.00  4.0  6.00  8.0
19               164.0  4.707317  2.320820  1.0  3.00  5.0  7.00  8.0
20               170.0  4.694118  2.242798  1.0  3.00  5.0  7.00  8.0
21               168.0  4.696429  2.207117  1.0  3.00  5.0  6.00  8.0
22               168.0  4.982143  2.179032  1.0  3.00  5.0  7.00  8.0
23               194.0  4.927835  2.208075  1.0  3.00  5.0  7.00  8.0
24               163.0  4.656442  2.425127  1.0  3.00  5.0  7.00  8.0
25               180.0  4.494444  2.374203  1.0  2.75  4.0  7.00  8.0
26               158.0  4.575949  2.322129  1.0  3.00  5.0  7.00  8.0
27               190.0  4.368421  2.332438  1.0  2.00  4.0  7.00  8.0
28               178.0  4.544944  2.341158  1.0  2.00  4.5  7.00  8.0
29               176.0  4.647727  2.229874  1.0  3.00  5.0  6.00  8.0
30               156.0  4.205128  2.285206  1.0  2.00  4.0  6.00  8.0
31               169.0  4.544379  2.412661  1.0  2.00  5.0  7.00  8.0
32               145.0  4.551724  2.217140  1.0  3.00  4.0  7.00  8.0
33               166.0  4.186747  2.367982  1.0  2.00  4.0  6.75  8.0
34               152.0  4.177632  2.381223  1.0  2.00  4.0  6.00  8.0
35               168.0  4.583333  2.294009  1.0  3.00  4.0  6.00  8.0
36               170.0  4.523529  2.261598  1.0  3.00  5.0  6.00  8.0
37               200.0  4.480000  2.248305  1.0  3.00  4.0  6.00  8.0
38               183.0  4.546448  2.414875  1.0  2.00  5.0  7.00  8.0
39               164.0  4.371951  2.281307  1.0  2.75  4.0  6.00  8.0
40               184.0  4.646739  2.278479  1.0  2.75  5.0  6.00  8.0
41               179.0  4.770950  2.245606  1.0  3.00  5.0  7.00  8.0
42               147.0  4.435374  2.311579  1.0  2.00  4.0  6.00  8.0
43               165.0  4.672727  2.141813  1.0  3.00  5.0  7.00  8.0
44               126.0  4.642857  2.257306  1.0  3.00  4.5  7.00  8.0
45               172.0  4.569767  2.432916  1.0  2.00  5.0  7.00  8.0
46               182.0  4.489011  2.417110  1.0  2.00  5.0  7.00  8.0
47               152.0  4.473684  2.171298  1.0  3.00  4.0  6.25  8.0

In [24]:
data_merged.groupby('_ProductID_left')['_CustomerID'].describe()

                 count       mean        std  min    25%   50%    75%   max
_ProductID_left
1                162.0  25.197531  15.088492  1.0  12.25  26.0  38.00  50.0
2                173.0  24.630058  14.446035  1.0  12.00  24.0  36.00  50.0
3                172.0  25.058140  14.790035  1.0  11.00  25.5  38.00  50.0
4                200.0  24.795000  14.686779  1.0  12.00  24.5  38.00  50.0
5                173.0  26.404624  15.273414  1.0  13.00  26.0  41.00  50.0
6                154.0  25.824675  15.229458  1.0  12.00  25.0  39.75  50.0
7                166.0  25.686747  14.352217  1.0  14.00  25.0  37.00  50.0
8                195.0  26.010256  14.507726  1.0  14.00  27.0  38.50  50.0
9                170.0  25.423529  14.083333  1.0  12.25  26.0  38.00  50.0
10               168.0  25.071429  13.373301  1.0  13.75  24.0  36.00  50.0
11               182.0  26.186813  14.480631  1.0  14.00  26.0  38.00  50.0
12               181.0  25.762431  14.516425  1.0  12.00  26.0  37.00  50.0
13               175.0  25.297143  14.392796  1.0  13.00  25.0  37.00  50.0
14               163.0  24.380368  14.299792  1.0  12.00  23.0  37.50  50.0
15               157.0  26.503185  14.122915  1.0  16.00  26.0  39.00  50.0
16               177.0  26.259887  14.451338  1.0  14.00  26.0  39.00  50.0
17               178.0  20.983146  13.800219  1.0   9.00  21.0  30.00  50.0
18               156.0  26.826923  14.489669  1.0  13.00  27.5  40.00  50.0
19               164.0  25.573171  13.852448  1.0  15.00  25.0  37.00  50.0
20               170.0  25.223529  13.795099  1.0  14.00  25.0  37.00  50.0
21               168.0  25.946429  14.060715  1.0  13.00  27.0  38.00  50.0
22               168.0  24.767857  14.302118  1.0  12.00  23.0  38.00  50.0
23               194.0  24.896907  14.836228  1.0  12.00  25.0  38.00  50.0
24               163.0  27.177914  13.977902  1.0  15.00  28.0  39.00  50.0
25               180.0  24.100000  14.521069  1.0  12.00  23.0  35.25  50.0
26               158.0  25.917722  14.062628  1.0  14.00  27.0  38.75  50.0
27               190.0  23.926316  14.393372  1.0  11.00  24.0  36.75  50.0
28               178.0  25.011236  14.195165  1.0  12.00  25.0  37.00  50.0
29               176.0  25.102273  13.980836  1.0  14.00  23.0  36.00  50.0
30               156.0  26.621795  14.372170  1.0  14.00  27.0  41.00  50.0
31               169.0  27.278107  15.238174  1.0  13.00  29.0  41.00  50.0
32               145.0  27.420690  14.970187  1.0  15.00  29.0  41.00  50.0
33               166.0  26.632530  14.735771  1.0  14.00  27.0  39.75  50.0
34               152.0  26.046053  14.318672  1.0  13.00  26.5  38.25  50.0
35               168.0  24.523810  13.397628  1.0  14.00  24.0  35.00  50.0
36               170.0  27.405882  14.276433  1.0  16.00  29.0  40.00  50.0
37               200.0  24.560000  14.398716  1.0  12.00  23.0  38.00  50.0
38               183.0  23.754098  14.642992  1.0  10.50  22.0  36.00  50.0
39               164.0  27.152439  14.108517  1.0  13.00  29.0  38.25  50.0
40               184.0  25.663043  14.563430  1.0  13.00  25.5  38.00  50.0
41               179.0  26.402235  14.117293  1.0  15.50  28.0  38.00  50.0
42               147.0  25.761905  15.045745  1.0  12.00  25.0  39.00  50.0
43               165.0  24.357576  14.163656  1.0  11.00  25.0  37.00  50.0
44               126.0  25.849206  14.130856  1.0  16.00  25.0  38.00  50.0
45               172.0  24.290698  15.019960  1.0  11.75  21.0  36.25  50.0
46               182.0  24.791209  14.531746  1.0  11.00  24.5  37.75  50.0
47               152.0  25.782895  14.501846  1.0  13.00  26.0  38.25  50.0

In [25]:
data_merged.groupby('_ProductID_left')['total_sales'].describe()

,count,mean,std,min,25%,50%,75%,max
_ProductID_left,,,,,,,,
1,162.0,1.390649,2.587739,0.021277,0.251330,0.529231,1.375000,22.0
2,173.0,1.337064,2.586094,0.021739,0.276596,0.577778,1.157895,22.0
3,172.0,1.235765,2.424751,0.021277,0.309524,0.571429,1.146617,24.0
4,200.0,1.402163,3.148509,0.020833,0.288534,0.576037,1.166667,27.0
5,173.0,1.616947,3.555146,0.020000,0.307692,0.558824,1.176471,23.0
6,154.0,1.114735,1.735855,0.025000,0.296336,0.569474,1.000000,16.0
7,166.0,1.307746,2.787513,0.028571,0.300593,0.559829,1.053571,26.0
8,195.0,1.175635,2.292511,0.020408,0.275253,0.589744,1.019231,23.0
9,170.0,1.490113,4.055039,0.021277,0.317592,0.529115,0.913690,27.0
10,168.0,1.173218,2.420903,0.040000,0.368153,0.569805,1.014706,26.0
11,182.0,1.404964,3.298832,0.020000,0.266688,0.518934,1.087413,25.0
12,181.0,1.290920,2.371952,0.028571,0.333333,0.560000,1.062500,22.0
13,175.0,1.394155,2.800290,0.020000,0.313709,0.653846,1.218254,22.0
14,163.0,1.560437,3.261456,0.024390,0.263158,0.538462,1.125217,25.0
15,157.0,1.088851,2.184341,0.022222,0.300000,0.514286,1.000000,22.0
16,177.0,1.314238,2.587006,0.031250,0.297297,0.564103,1.157895,24.0
17,178.0,1.403674,2.174803,0.040000,0.297222,0.615223,1.364551,13.5
18,156.0,1.348810,2.990545,0.024390,0.288661,0.539501,1.025000,24.0
19,164.0,1.229134,2.642193,0.020000,0.333333,0.582364,0.893939,21.0
20,170.0,1.330035,2.860586,0.020833,0.333333,0.628205,1.113235,22.0
21,168.0,1.111897,2.298874,0.022727,0.298529,0.564103,1.013158,23.0
22,168.0,1.212688,2.538918,0.024390,0.288770,0.537351,1.010870,26.0
23,194.0,1.402199,3.086260,0.020408,0.268750,0.548810,1.000000,23.0
24,163.0,1.182610,3.240778,0.021277,0.239565,0.538462,0.937255,28.0
25,180.0,1.646646,3.568463,0.022222,0.297917,0.571429,1.148810,27.0
26,158.0,1.008522,1.563062,0.023256,0.297222,0.542572,0.945259,13.0
27,190.0,1.461484,3.099048,0.020408,0.301389,0.608696,1.300000,25.0
28,178.0,1.097730,1.822296,0.025000,0.329286,0.550505,1.121528,17.0
29,176.0,1.280033,2.832784,0.020408,0.338393,0.545455,1.052206,23.0
30,156.0,0.998494,1.479113,0.020833,0.291667,0.533333,1.009259,11.0
31,169.0,1.329121,2.819380,0.020833,0.255319,0.531250,1.157895,26.0
32,145.0,1.290366,2.892032,0.020000,0.258065,0.545455,1.066667,26.0
33,166.0,1.264623,2.416444,0.022727,0.267073,0.518065,0.946429,17.0
34,152.0,1.252410,2.818523,0.020000,0.269545,0.558824,1.000000,20.0
35,168.0,1.054834,1.397881,0.022222,0.320019,0.588137,1.217532,11.0
36,170.0,1.130666,1.868327,0.025000,0.293554,0.582157,0.927198,12.0
37,200.0,1.210651,1.969916,0.025000,0.284286,0.541251,1.183239,15.0
38,183.0,1.391566,2.316891,0.028571,0.315556,0.612903,1.300000,16.0
39,164.0,0.990484,1.610845,0.023256,0.325448,0.544156,0.935294,17.0
40,184.0,1.557407,3.719178,0.022727,0.247845,0.474937,1.137987,28.0
41,179.0,1.307608,2.207848,0.023810,0.314145,0.605263,1.077778,14.0
42,147.0,1.242381,2.784721,0.020408,0.333333,0.510204,0.935606,21.0
43,165.0,1.311945,2.422873,0.022727,0.294118,0.551724,1.000000,19.0
44,126.0,1.204471,1.998792,0.025641,0.343542,0.575188,1.037500,13.0
45,172.0,1.456321,3.092324,0.021277,0.329545,0.591168,1.241071,24.0
46,182.0,1.339376,2.553480,0.020833,0.252016,0.561111,1.094156,20.0
47,152.0,1.302386,2.903836,0.023810,0.333333,0.561562,1.046498,26.0

In [ ]:
from sklearn.preprocessing import LabelEncoder

enc = LabelEncoder()
data['SIte Name'] = enc.fit_transform(data['SIte Name'])
data['District'] = enc.fit_transform(data['District'])
data['Product Name'] = enc.fit_transform(data['Product Name'])
data['Item/Service Description'] = enc.fit_transform(data['Item/Service Description'])
data['Customer Names'] = enc.fit_transform(data['Customer Names'])
data['Month'] = enc.fit_transform(data['Month'])

In [ ]:
import seaborn as sns
# sales trends
sns.factorplot(data = data_merged, x = 'Month', y = "_SalesAM_ID", 
               col = '_SiteID', # per sitein cols
               hue = '_SiteID',
               row = '_ProductID_left')

In [ ]:
 sns.boxplot(x=boston_df['Bandwidth'])